<div class="content-wrapper" style="background-color: rgba(0,0,0,{{nightLevel}})">
    <div class="section logo">
        <span class="logo-header">
            <img src="assets/moonlogo1000.png">
        </span>
    <span class="logo-title">Ceramics Night
        <p class="subtitle">hosted by Imagine Art</p>
    </span>    
    </div>

    <div class="section">
        <div class="container">

            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <h3><i class="fa fa-calendar"></i> Starting Thursdays in July</h3>
                    <a href="mailto:ceramicsnight@gmail.com"><h2>RSVP Now to reserve your spot!</h2></a>
                </div>
<!--                 <div class="col-lg-4 col-md-4">
                    <h3><i class="fa fa-folder-open"></i> Pottery Wheel</h3>
                    <p>Pottery wheel available</p>
                </div> -->
            </div>

        </div>
        <!-- /.container -->

    </div>

    <div class="section">

        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Project ideas and guides</h2>
                    <hr>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <a href="portfolio-item.html">
                        <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <a href="portfolio-item.html">
                        <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <a href="portfolio-item.html">
                        <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <a href="portfolio-item.html">
                        <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <a href="portfolio-item.html">
                        <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <a href="portfolio-item.html">
                        <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                    </a>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>

    <div class="container">

        <div class="row well">
            <div class="col-lg-8 col-md-8">
                <h4>About Imagine Art</h4>
                <p>Image Art has served the Austin community for over 20 years</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <a class="btn btn-lg btn-primary pull-right" href="http://startbootstrap.com">Learn more about Imagine Art</a>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</div>