<div class="content-wrapper backdrop-image" style="background-position-y: -{{windowScroll / 3}}px;">

    <div class="section logo" style="background-color: rgba(0,0,0,{{nightLevel}})">
        <span class="logo-header">
            <img src="assets/moonlogo1000.png">
        </span>
    <span class="logo-title">Ceramics Night
        <p class="subtitle">Thursdays at Imagine Art</p>
    </span>    
        <div class="section register-section" style="opacity: {{nightLevel < 1 ? 1 : 0.85}}">
              <a target="_blank" href="https://www.imagineart.net/ceramics-night#page-body-wrapper"><button style="transform: scaleY({{nightLevel < 0.8 ? 1 : 0.85}});" type="button" class="register btn btn-primary btn-lg"><span><i class="fa fa-moon-o"></i>&nbsp Register Now</span></button></a>
              <a href="#/calendar"><button style="transform: scaleY({{nightLevel < 0.8 ? 1 : 0.85}});" type="button" class="register calendar btn btn-primary btn-lg"><span><i class="fa fa-calendar"></i>&nbsp Full Calendar</span></button></a>
        </div>
    </div>
    <div class="section info">
        <div class="container">
            <div class="col-md-4">
                <h3 class="headline"><i class="fa fa-map-marker"></i>&nbsp Imagine Art</h3>
                <h3>2830 Real St.<br> Austin, TX 78722</h3>
                <a target="_blank" href="https://www.google.com/maps/dir//Imagine+Art,+2830+Real+St,+Austin,+TX+78722/"><h3>Get directions</h3></a>
            </div>
            <div class="col-md-4">
                <h3 class="headline"><i class="fa fa-calendar-o"></i>&nbsp Upcoming Night:</h3>
                <h3>Thursday, August 10th<br> 7:00pm to 9:30pm</h3>
                <a target="_blank" href="https://www.imagineart.net/ceramics-night#page-body-wrapper">
                    <h3>Register for this night</h2>
                    <!-- <h2>Sign up here to reserve your spot</h2> -->
                    <!-- <span class="label label-success">Spots Available</span> -->
                </a>
            </div>
                    
            <div class="col-md-4">
                <h3 class="headline"><i class="fa fa-bullhorn"></i>&nbsp Contact Us</h3>
                <h3>Check your piece's status,<br> or general inqueries</h3>
                <a href="mailto:ceramicsnight@gmail.com"><h3>ceramicsnight@gmail.com</h3></a>
            </div>
            
            <div class="col-md-4">
            <!--     <h3><i class="fa fa-bullhorn"></i> Questions?</h3>
                <a href="mailto:ceramicsnight@gmail.com"><h2>Email us to learn more</h2></a> -->
            </div>

        </div>
        <!-- /.container -->

    </div>

    <div class="section">

        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Project ideas</h2>
                    <hr>
                </div>

                <div class="col-lg-10 col-md-12 col-sm-12 logo-header pinterest-board">
                    <a data-pin-do="embedBoard" data-pin-board-width="1280" data-pin-scale-height="3840" data-pin-scale-width="80" href="https://www.pinterest.com/ceramicsnight/ceramics-night/"></a>
                </div>
                <!-- 
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <a href="portfolio-item.html">
                        <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <a href="portfolio-item.html">
                        <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <a href="portfolio-item.html">
                        <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <a href="portfolio-item.html">
                        <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <a href="portfolio-item.html">
                        <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                    </a>
                </div> -->
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>

    <div class="container">

        <div class="row well">
            <div class="col-lg-8 col-md-8">
                <h4>About Imagine Art</h4>
                <p>Image Art has served the Austin community for over 20 years</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <a class="btn btn-lg btn-primary pull-right" href="https://www.yelp.com/biz/imagine-art-austin">Learn more about Imagine Art</a>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</div>