<div class="content-wrapper" style="background-color: rgba(0,0,0,{{nightLevel}})">
    <div class="section logo">
        <span class="logo-header">
            <img src="assets/moonlogo1000.png">
        </span>
    <span class="logo-title">Ceramics Night
        <p class="subtitle">hosted by Imagine Art</p>
    </span>    
    </div>

    <div class="section">
        <div class="container">

            <div class="col-md-4">
                <h3><i class="fa fa-calendar"></i>&nbsp Launch is July 27th</h3>
                <a target="_blank" href="https://www.imagineart.net/ceramics-night#page-body-wrapper"><h2>Sign up here to reserve your spot</h2><span class="label label-success">Spots Available</span></a>
            </div>
                    
            <div class="col-md-4">
                <h3><i class="fa fa-bullhorn"></i>&nbsp Questions</h3>
                <a href="mailto:ceramicsnight@gmail.com"><h2>Email us to learn more</h2></a>
            </div>
            
            <div class="col-md-4">
                <h3><i class="fa fa-map-marker"></i>&nbsp Imagine Art</h3>
                <a href="https://www.google.com/maps/dir/30.2386201,-97.7234168/Imagine+Art,+2830+Real+St,+Austin,+TX+78722/@30.2621551,-97.7401169,14z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x8644b5e8b422472d:0xb5a8c7effa937462!2m2!1d-97.710354!2d30.2830405">
                <h2>Get directions</h2></a>
            </div>
            <div class="col-md-4">
            <!--     <h3><i class="fa fa-bullhorn"></i> Questions?</h3>
                <a href="mailto:ceramicsnight@gmail.com"><h2>Email us to learn more</h2></a> -->
            </div>

        </div>
        <!-- /.container -->

    </div>

    <div class="section">

        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Project ideas and guides</h2>
                    <hr>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <a href="portfolio-item.html">
                        <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <a href="portfolio-item.html">
                        <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <a href="portfolio-item.html">
                        <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <a href="portfolio-item.html">
                        <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <a href="portfolio-item.html">
                        <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <a href="portfolio-item.html">
                        <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                    </a>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>

    <div class="container">

        <div class="row well">
            <div class="col-lg-8 col-md-8">
                <h4>About Imagine Art</h4>
                <p>Image Art has served the Austin community for over 20 years</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <a class="btn btn-lg btn-primary pull-right" href="https://www.yelp.com/biz/imagine-art-austin">Learn more about Imagine Art</a>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</div>