<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Pricing Table
                <small>No admission fee, pay per ceramic piece</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">Pricing Table</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-sm-3">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <strong>Small</strong>
                </div>
                <div class="panel-body">
                    <h3 class="panel-title price">
                        <span class="price-cents">$10.00 per piece</span>
                    </h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item"> &nbsp</li>
                    <li class="list-group-item">5" x 5" x 5" or smaller</li>
                    <li class="list-group-item">Includes bisc fire and glaze fire</li>
                    <li class="list-group-item"> &nbsp</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <strong>Medium</strong>
                </div>
                <div class="panel-body">
                    <h3 class="panel-title price">
                        <span class="price-cents">$17.00 per piece</span>
                    </h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item"> &nbsp</li>
                    <li class="list-group-item">up to 8" x 8" x 8"</li>
                    <li class="list-group-item">Includes bisc fire and glaze fire</li>
                    <li class="list-group-item"> &nbsp</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <strong>Large</strong>
                </div>
                <div class="panel-body">
                    <h3 class="panel-title price">
                        <span class="price-cents">$25.00 per piece</span>
                    </h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item"> &nbsp</li>
                    <li class="list-group-item">any piece larger than 8" x 8" x 8"</li>
                    <li class="list-group-item">Includes bisc fire and glaze fire</li>
                    <li class="list-group-item"> &nbsp</li>
                </ul>
            </div>
        </div>
    </div>
    <p> All proceeds from Ceramics Night benefit Imagine Art's programs and operations

</div>
<!-- /.container -->

