<nav class="navbar navbar-inverse bg-primary navbar-fixed-top" role="navigation">
    <div class="">
        <div class="navbar-header pull-left">
            <a class="navbar-brand" href="#"><img src="assets/paps_small.png"></a>
        </div>
        <ul class="nav navbar-nav navbar-header pull-right links">
            <li><a href="#/pricing">About Us</a>
            </li>
            <li><a href="#/blog">Blog</a>
            </li>
            <li><a href="#">Call to Action</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">How to Write a Prisoner</a></li>
                    <li><a href="#">Solitary Confinement Demo</a></li>
                    <li><a href="#">Printables</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Penpals Needed!</a></li>
                </ul>
            </li>
                <!-- <li><a href="#/contact">Contact</a>
                </li> -->
                <!-- <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/blog">List of Posts</a>
                        </li>
                        <li><a href="#/blog/post">View One Post</a>
                        </li>
                    </ul>
                </li> -->

<!--             <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button> -->
            <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
            <!-- <a class="navbar-brand" href="#/"></a> -->
        </ul>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
